/* Custom */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 900;

  --clr-primary: #e3e6da;
  --clr-secondary: #222221;
  --clr-accent: #a88f3c;
  --clr-bg1: #ffe2cd;
  --clr-bg2: #d5f4ff;
  --clr-bg3: #ffe0af;
  --clr-bg4: #b3fdec;

  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;

  --bxs: 0.2em 0.2em 0.7em rgba(27, 27, 27, 0.3),
    0.12em 0.12em 0.2em rgba(20, 23, 66, 0.3);
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 2.7rem;
    --fs-h3: 1.95rem;
    --fs-body: 1.65rem;
  }
}

.dark-theme {
  --clr-primary: #222221;
  --clr-secondary: #e3e6da;
  --clr-bg1: #27231f;
  --clr-bg2: #002d3d;
  --clr-bg3: #2e1c00;
  --clr-bg4: #023f31;
}

/* General */

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    -45deg,
    var(--clr-bg1),
    var(--clr-bg2),
    var(--clr-bg3),
    var(--clr-bg4)
  );
  background-size: 400% 400%;
  animation: gradient 10000ms ease infinite;
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.5;
  cursor: default;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 5rem 2rem;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
}

.btn {
  display: inline-block;
  padding: 0.6em 2.6em;
  color: var(--clr-primary);
  background: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 300ms ease-in-out;
  border-radius: 20px;
}

.btn:hover {
  transform: scale(1.1);
}
/* Tipografia */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section-title {
  margin-bottom: 0.2em;
  line-height: 1.5;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h2);
}

.section-subtitle-intro,
.section-subtitle-about {
  background: var(--clr-accent);
  margin-bottom: 1em;
  padding: 0.3em 1em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-image: url(../images/navbar.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: var(--clr-secondary);
}

.logo {
  max-width: 80px;
  max-height: 80px;
}

.dark-mode {
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

.dark-mode:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dark-logo {
  margin-top: 20px;
  margin-left: 10px;
  max-height: 30px;
}

@media (min-width: 768px) {
  .dark-logo {
    max-height: 50px;
  }
}

/* Navbar Languages */
.lang-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4em;
}

.lang-link {
  display: block;
  margin-right: 12px;
  outline: none;
}

.lang-link.active {
  padding: 2px;
  border: 4px solid var(--clr-primary);
  border-radius: 50% 50%;
}

.flag {
  max-width: 25px;
  max-height: 25px;
}

.flag:hover {
  transform: scale(1.17);
}

@media (min-width: 768px) {
  .flag {
    max-width: 40px;
    max-height: 40px;
  }
  .lang-link {
    margin-right: 20px;
  }
}

nav {
  position: fixed;
  background-image: url(../images/navbar.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 200ms ease-in-out;
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  z-index: 1000;
  outline: none;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  color: var(--clr-accent);
}

.nav-open .hamb {
  transform: rotate(0.625turn);
}

.nav-open .hamb::before {
  transform: rotate(90deg) translateX(-10px);
}

.nav-open .hamb::after {
  opacity: 0;
}

.hamb {
  display: block;
  position: relative;
  top: 0.9em;
}

@media (min-width: 768px) {
  .hamb {
    top: -0.1em;
  }
}

.hamb,
.hamb::before,
.hamb::after {
  background: var(--clr-accent);
  width: 2em;
  height: 6px;
  border-radius: 1em;
  transition: transform 200ms ease-in-out;
}

.hamb::before,
.hamb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamb::before {
  top: 10px;
}
.hamb::after {
  bottom: 10px;
}

/* Intro */

.intro {
  position: relative;
  padding-top: 0;
}

.section-title-intro {
  font-weight: var(--fs-reg);
  color: var(--clr-secondary);
}

.section-title-intro > strong {
  display: block;
}
.section-title-text {
  margin-bottom: 0;
}

.section-subtitle-intro {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  border-radius: 20px;
}

.intro-img {
  box-shadow: var(--bxs);
}

@media (min-width: 768px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    padding-top: 5em;
    grid-template-areas:
      "img title"
      "img subtitle";
    column-gap: 1em;
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    grid-area: img;
    min-width: 360px;
    z-index: 2;
    position: relative;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.4em;
    width: calc(100% + 1.4em);
  }
}

/* Experience */

.experience {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  background-image: url(../images/laptop.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
  position: relative;
  padding-top: 0;
}

.section-title-experience {
  color: var(--clr-accent);
  position: relative;
}

.section-title-experience::after {
  content: "";
  background: currentColor;
  display: block;
  width: 23%;
  height: 3px;
  margin: 0.4em auto 1em;
  opacity: 0.5;
}

.experience-wrapper {
  margin-bottom: 4em;
}

.experience-body {
  max-width: 500px;
  margin: 0 auto 3.5em;
}

.experience-title {
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .experience-wrapper {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .experience + .experience {
    margin-left: 2em;
  }
}

/* Sobre mi */

.about {
  max-width: 1480px;
  margin: 0 auto;
}

.about-text1,
.about-text2 {
  text-indent: 20px;
}

.section-title-about {
  color: var(--clr-secondary);
}

.section-subtitle-about {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  border-radius: 20px;
}

.about-body {
  color: var(--clr-secondary);
}

.about-img {
  box-shadow: var(--bxs);
}

@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    column-gap: 2em;
  }
  .section-title-about {
    grid-area: title;
    margin-left: 1em;
  }

  .section-subtitle-about {
    grid-column: 1/ -1;
    grid-row: 2;
    position: relative;
    left: 0.5em;
    padding-left: 1em;
    padding-right: calc(100px + 4em);
  }

  .about-img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* Skills */

.section-title-skills {
  color: var(--clr-accent);
  position: relative;
  text-align: center;
}

.section-title-skills::after {
  content: "";
  background: currentColor;
  display: block;
  width: 23%;
  height: 3px;
  margin: 0.4em auto 1em;
  opacity: 0.5;
}

.skills-body {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0 7px 7px 0;
  padding: 4px 0;
}

.skills-body::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--clr-accent);
  position: absolute;
  left: 34px;
  top: 0;
}

.skills-content {
  padding-right: 1em;
  margin-bottom: 80px;
  color: var(--clr-secondary);
}

.skills-item {
  position: relative;
  padding-left: 60px;
}

.skills-item::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 4px solid var(--clr-accent);
  border-radius: 50%;
  position: absolute;
  background: var(--clr-primary);
  left: -12px;
  top: 0px;
  z-index: 9;
}

.skills-item:hover::after {
  border: 4px solid var(--clr-primary);
  background: var(--clr-secondary);
  transition: all 0.5s ease-in;
}

.skills-text {
  line-height: 1.5;
  opacity: 0.8;
  font-weight: 500;
}

.skills-fa {
  position: absolute;
  left: 1px;
  top: 11px;
  z-index: 10;
  color: var(--clr-accent);
}

.skills-fa:hover {
  color: var(--clr-accent);
}

.fa-star {
  top: 8px;
  left: -5px;
}

.fa-react {
  top: 9px;
  left: -4px;
}

.fa-js-square {
  top: 10px;
  left: -2px;
}

.fa-language {
  font-size: 30px;
  left: -6px;
}

@media (min-width: 768px) {
  .skills-body {
    margin-left: 3em;
  }

  .skills-item::after {
    width: 80px;
    height: 80px;
    left: -43px;
  }
  .skills-fa {
    left: -22px;
    top: 15px;
    font-size: 55px;
  }

  .fa-language {
    font-size: 50px;
    left: -33px;
  }

  .fa-js-square {
    left: -26px;
    top: 13px;
  }

  .fa-react {
    top: 13px;
    left: -30px;
  }

  .fa-star {
    top: 11px;
    left: -34px;
  }
}

/* Trabajos */

.work {
  color: var(--clr-accent);
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: minmax(200px, 1fr);
}

.section-title-work {
  color: var(--clr-accent);
  position: relative;
  text-align: center;
}

.section-title-work::after {
  content: "";
  background: currentColor;
  display: block;
  width: 15%;
  height: 3px;
  margin: 0.4em auto 1em;
  opacity: 0.5;
}

.section-subtitle-work {
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
  text-align: center;
}

.middle {
  position: relative;
  place-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  height: 365px;
  width: 322px;
}

.card:hover > .card-front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .card-back {
  transform: perspective(600px) rotateY(0deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  box-shadow: var(--bxs);
}

.card-front img {
  height: 100%;
}

.card-front {
  transform: perspective(600px) rotateY(0deg);
}

.card-back {
  background: var(--clr-secondary);
  transform: perspective(600px) rotateY(180deg);
}

.back-content {
  color: var(--clr-accent);
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.card-title,
.card-body {
  justify-self: center;
  align-self: center;
}

.card-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card-links a {
  font-size: 0.7rem;
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--clr-primary);
  transition: 400ms;
  outline: none;
}

.card-links a:hover {
  background: var(--clr-primary);
  color: var(--clr-accent);
}
@media (min-width: 600px) {
  .card {
    height: 465px;
    width: 412px;
  }
  .card-links a {
    font-size: 1rem;
  }
}
@media (min-width: 1000px) {
  .work {
    grid-template-columns: 1fr 1fr;
  }
}

/* Footer */

.footer {
  background-image: url(../images/navbar.jpg);
  background-color: var(--clr-secondary);
  background-size: cover;
  background-blend-mode: soft-light;
  color: var(--clr-accent);
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.footer-link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  outline: none;
}

.footer-link:hover,
.social-media-link:hover {
  opacity: 0.6;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-media-item {
  margin: 0 0.5em;
}

.social-media-link {
  padding: 0.5em;
}
